@font-face {
  src: url(../Fuente/sketchy.ttf);
  font-family: sketchy;
}

body {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: black;
  background-image: url(../Imagenes/Logo/Fondo_.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  /* border-left: 2px solid black; */
}

#Logo {
  width: 90%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family: sketchy;
}

/*Galeria*/

.galeria img {
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);
  border-radius: 15px;
  width: 320px;
  height: 270px;
}

.materialbox-caption {
  bottom: 30px;
  right: 0;
  width: 40%;
  height: auto;
  padding: 10px;
  margin: auto;
  box-shadow: 5px 5px #fff;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
}

.galeria .col {
  margin-bottom: 20px;
}

/*pie de página*/

footer {
  bottom: 0;
  width: 100%;
  margin-left: 0px;
}

footer img {
  height: 25px;
  width: 25px;
}

/**/

br {
  font-size: 7px;
}

h2 {
  font-size: 50px;
  font-family: sketchy, cursive;
  align-items: center;
  display: inline-block;
  position: relative;
  color: #764029;
}

h2::after, h2::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: currentColor;
  top: 0.6em;
}

h2::before {
  left: -140px;
}

h2::after {
  right: -140px;
}

h4 {}

small {
  color: black;
  font-size: 25px;
}

h1 {
  font-size: 120px;
}

/* Hipervinculo */

a.Hyperlink:link {
  color: white;
  text-decoration: none;
}

a.Hyperlink:visited {
  color: white;
  text-decoration: none;
}

a.Hyperlink:hover {
  text-decoration: underline;
}

/*Barra de navegación*/

.navegacion {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 1000px;
  margin: 30px auto;
  /* background-color: rgba(68, 158, 179); */
  /* background-color: #8095CE; */
  background-color: #D57052;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);
  border-radius: 20px;
}

.navegacion ul {
  list-style: none;
}

.menu>li {
  position: relative;
  display: inline-block;
}

.menu>li>a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.menu li a:hover {
  color: #764029;
  transition: all .3;
}

/*submenu*/

.submenu {
  z-index: 1;
  position: absolute;
  /* background-color: #8095CE; */
  background-color: #D57052;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opcity 1.5s;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);
  border-radius: 20px;
}

.submenu li a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

/*Formulario*/

.formulario {
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  display: flex;
  background-color: #764029;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
}

.formulario img {
  height: 30px;
  width: 30px;
}

.contacto::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #297187;
  opacity: 0.9;
}

.contacto {
  width: 38%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}

.contacto_info h3 {
  align-items: center;
  font-size: 45px;
  font-family: 'Roboto', cursive;
  align-items: center;
  display: inline-block;
  position: relative;
  color: white;
}

.contacto_item h3 {
  align-items: center;
  font-size: 30px;
  font-family: 'Roboto', cursive;
  align-items: center;
  display: inline-block;
  position: relative;
  color: white;
}

form.form_contact {
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h3 {
  font-size: 45px;
  font-family: 'Roboto', cursive;
  align-items: center;
  display: inline-block;
  position: relative;
  color: black;
}
form.form_contact input,
form.form_contact input[type="button"] {
  background-color: #297187 ;
}

form.form_contact input[type="button"]:hover {
  background: #3371B6;
}